
*::after,
*::before,
*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
   
}

.icon-cart{
    width: 60px;
    height: 60px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

.header__logo {
    margin-left: 30px;
    margin-top: 15px;
    font-family: "Fraunces", serif;
    color: hsl(212deg, 27%, 19%);
    font-style: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
  }


img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
   }

.container-icon{
    position: relative;
}






